@use "variables";

.site-header {
    background-color: variables.$text-third-color;
}

.meny {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.logo img {
    display: block;
    height: 80px;
    width: auto;
}

.main-nav {
    color: variables.$text-secondary-color;
    text-decoration: none;
    font-size: 2rem;

    a {
        text-decoration: none;
        color: white;
    }

    .active {
        color: variables.$text-primary-color;
        font-weight: bold;
        text-decoration: underline;
    }

    :hover {
        color: rgb(75, 75, 75);
    }
}

.menu-toggle {
    display: none;
}