$font-stack: Arial, sans-serif;
$text-primary-color: black;
$text-secondary-color: white;
$text-third-color: #b38b64;
$text-forth-color: red;

$background-dark: black;
$text-color-dark: white;
$background-light: white;
$text-color-light: black;
$box-background-dark: rgb(148, 148, 148);
$box-text-dark: black;
$box-background-light: rgb(216, 216, 216);
$box-text-light: black;
$box-border-dark:white;
$box-border-light: black;
