$font-stack: Arial, sans-serif;
$text-primary-color: black;
$text-secondary-color: white;
$text-third-color: #b38b64;


$background-dark: black;
$text-color-dark: white;
$background-light: white;
$text-color-light: black;
$box-background-dark: rgb(201, 199, 199);
$box-text-dark: black;
$box-background-light: rgb(216, 216, 216);
$box-text-light: black;
$box-border-dark:white;
$box-border-light: black;
$puff-background-dark: rgb(49, 49, 49);
$puff-background-light: rgb(197, 197, 197);
